@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active{
    color: white
}
.drawer-side a{
    background-color: transparent !important; 
}


li a:hover{
    color: whitesmoke !important;
    background-color: transparent !important; 

}